<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <form th:action="@{/products/edit}" th:object="${product}"
          method="post" class="form" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}"
                   id="name" placeholder="product Name">
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input class="form-control" type="number" th:field="*{price}"
                   id="price" placeholder="price">
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input class="form-control" type="file" id="image" name="imageProduct"
                   accept="image/png,image/jpeg">
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
        </div>
        <div class="form-group">
            <label for="category" class="form-label">Category:</label>
            <select name="categoryId" class="form-control" id="category">
                <option value="">-- Chọn danh mục --</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${product.category != null and product.category.id == category.id}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Save Changes">
        <a th:href="@{/products}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>

